In [82]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import glob

In [83]:
data = pd.read_csv('/Users/tushi/PRJ/WikidataParsing/no_of_edits_all.csv')
# data = pd.read_csv('/Users/tushi/PRJ/WikidataParsing/no_of_edits_all.csv', usecols=[0])

In [84]:
data.shape

(8365814, 2)

In [85]:
data.head()

  Unnamed: 0  pagetitle
0  Q27335409       4231
1  Q27335792       4096
2  Q27336022       4042
3  Q27336098       4007
4  Q27336831       3874

TODO: 

Read column 1 from all the csv files collected on Politics - remember to mention in documentation why we are reading only 1 column - some csvs don't have labels due to SPARQL timeout. - done

Parse to keep only the Qids - done

Verify the data - done

Use unique to keep only unique qids - done

Output statistics from the data - done

Write code/algorithm/for loop to take data from the original parsed data and keep only those qids which belong to this datatset for Politics as retrieved from SPARQL endpoint(This can/should probably be done in the original Jupyter Notebook)

Remove unecessary head and tail statements

In [86]:
data.columns

Index(['Unnamed: 0', 'pagetitle'], dtype='object')

In [87]:
glob.glob('/Users/tushi/PRJ/WikidataParsing/topics/politics/*.csv')

['/Users/tushi/PRJ/WikidataParsing/topics/politics\\corruption_scandal.csv',
 '/Users/tushi/PRJ/WikidataParsing/topics/politics\\political_event.csv',
 '/Users/tushi/PRJ/WikidataParsing/topics/politics\\political_ideology.csv',
 '/Users/tushi/PRJ/WikidataParsing/topics/politics\\political_movement.csv',
 '/Users/tushi/PRJ/WikidataParsing/topics/politics\\political_organisations_withoutlabels.csv',
 '/Users/tushi/PRJ/WikidataParsing/topics/politics\\political_scandal.csv',
 '/Users/tushi/PRJ/WikidataParsing/topics/politics\\politicians_withoutlabels.csv',
 '/Users/tushi/PRJ/WikidataParsing/topics/politics\\politics_instance_subclass.csv',
 '/Users/tushi/PRJ/WikidataParsing/topics/politics\\politics_instance_subclass_facet.csv',
 '/Users/tushi/PRJ/WikidataParsing/topics/politics\\social_movement_withoutlabels.csv']

Instance subclass and instance subclass facet, facet clearly has more items in it, even if we process both we are only keeping unique values thus the question of which one to use might not matter

In [88]:
all_dfs = []
file_counter = 0
for one_csv_file in glob.glob('/Users/tushi/PRJ/WikidataParsing/topics/politics/*.csv'):
    print(f'Loading {one_csv_file}')
    new_df = pd.read_csv(one_csv_file, usecols=['item'])
    all_dfs.append(new_df)
    file_counter += 1
    print(file_counter)

Loading /Users/tushi/PRJ/WikidataParsing/topics/politics\corruption_scandal.csv
1
Loading /Users/tushi/PRJ/WikidataParsing/topics/politics\political_event.csv
2
Loading /Users/tushi/PRJ/WikidataParsing/topics/politics\political_ideology.csv
3
Loading /Users/tushi/PRJ/WikidataParsing/topics/politics\political_movement.csv
4
Loading /Users/tushi/PRJ/WikidataParsing/topics/politics\political_organisations_withoutlabels.csv
5
Loading /Users/tushi/PRJ/WikidataParsing/topics/politics\political_scandal.csv
6
Loading /Users/tushi/PRJ/WikidataParsing/topics/politics\politicians_withoutlabels.csv
7
Loading /Users/tushi/PRJ/WikidataParsing/topics/politics\politics_instance_subclass.csv
8
Loading /Users/tushi/PRJ/WikidataParsing/topics/politics\politics_instance_subclass_facet.csv
9
Loading /Users/tushi/PRJ/WikidataParsing/topics/politics\social_movement_withoutlabels.csv
10

In [89]:
len(all_dfs)

10

In [90]:
df = pd.concat(all_dfs)
df.shape

(1465142, 1)

In [91]:
df.head()

                                       item
0  http://www.wikidata.org/entity/Q11509566
1   http://www.wikidata.org/entity/Q7064145
2  http://www.wikidata.org/entity/Q20058819
3  http://www.wikidata.org/entity/Q20059126
4  http://www.wikidata.org/entity/Q20103919

In [92]:
df.tail()

                                             item
345434  http://www.wikidata.org/entity/Q108442068
345435  http://www.wikidata.org/entity/Q108455809
345436  http://www.wikidata.org/entity/Q108462476
345437  http://www.wikidata.org/entity/Q109332800
345438  http://www.wikidata.org/entity/Q111049844

In [93]:
df.describe()

                                            item
count                                    1465142
unique                                   1462482
top     http://www.wikidata.org/entity/Q58446712
freq                                           4

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1465142 entries, 0 to 345438
Data columns (total 1 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   item    1465142 non-null  object
dtypes: object(1)
memory usage: 22.4+ MB

In [95]:
politics_all = DataFrame.drop_duplicates(df)

In [96]:
politics_all.shape

(1462482, 1)

In [97]:
politics_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1462482 entries, 0 to 345438
Data columns (total 1 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   item    1462482 non-null  object
dtypes: object(1)
memory usage: 22.3+ MB

In [98]:
politics_all.describe()

                                            item
count                                    1462482
unique                                   1462482
top     http://www.wikidata.org/entity/Q18235597
freq                                           1

In [99]:
politics_all.head()

                                       item
0  http://www.wikidata.org/entity/Q11509566
1   http://www.wikidata.org/entity/Q7064145
2  http://www.wikidata.org/entity/Q20058819
3  http://www.wikidata.org/entity/Q20059126
4  http://www.wikidata.org/entity/Q20103919

In [100]:
politics_all.tail()

                                             item
345434  http://www.wikidata.org/entity/Q108442068
345435  http://www.wikidata.org/entity/Q108455809
345436  http://www.wikidata.org/entity/Q108462476
345437  http://www.wikidata.org/entity/Q109332800
345438  http://www.wikidata.org/entity/Q111049844

In [101]:
# Extracting the qids
# using substring/list comprehension now, can implement something using string slicing or regex later

politics_with_qid = politics_all.copy()

def extract_qid(item):
    str = "http://www.wikidata.org/entity/"
    if item.startswith(str): 
        qid = item[len(str):]
        return qid

politics_with_qid['qid'] = dfc['item'].apply(extract_qid)

In [102]:
politics_with_qid.shape

(1462482, 2)

In [103]:
politics_with_qid.head()

                                       item        qid
0  http://www.wikidata.org/entity/Q11509566  Q11509566
1   http://www.wikidata.org/entity/Q7064145   Q7064145
2  http://www.wikidata.org/entity/Q20058819  Q20058819
3  http://www.wikidata.org/entity/Q20059126  Q20059126
4  http://www.wikidata.org/entity/Q20103919  Q20103919

In [104]:
politics_with_qid.tail()

                                             item         qid
345434  http://www.wikidata.org/entity/Q108442068  Q108442068
345435  http://www.wikidata.org/entity/Q108455809  Q108455809
345436  http://www.wikidata.org/entity/Q108462476  Q108462476
345437  http://www.wikidata.org/entity/Q109332800  Q109332800
345438  http://www.wikidata.org/entity/Q111049844  Q111049844

In [105]:
politics_with_qid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1462482 entries, 0 to 345438
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   item    1462482 non-null  object
 1   qid     1462482 non-null  object
dtypes: object(2)
memory usage: 33.5+ MB

In [106]:
politics_with_qid.describe()
# Note to self: don't worry about top as it is selected arbitrarily in this case

                                            item       qid
count                                    1462482   1462482
unique                                   1462482   1462482
top     http://www.wikidata.org/entity/Q18235597  Q4867099
freq                                           1         1

In [108]:
politics_with_qid.to_csv('/Users/tushi/PRJ/WikidataParsing/topics/topics_all/politics_all.csv')